{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
h1 {
  font-size:30px;
  padding: .5em .75em;
  margin-top:40px;
  background-color: #f6f6f6;
  border-radius: 6px;
}
</style>
    <div class="row">
        <div class="col-md-2 bg-light">
        </div>
        <div class="col-md-8">
            <img src="{% static 'top.jpg' %}" class="img-fluid">
            <h1>マイクロマウスシミュレーター</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" align="center" src="https://www.youtube.com/embed/CLU1NJ4p8jQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <p>
                        マイクロマウスのシミュレーションをドット絵ベースの簡単なインターフェースで実験できるシミュレーターβ版です。
                    </p>
                    <p>
                        ResutfulAPIでマイクロマウスを操作します。RestfulAPIの仕様書はこちら。
                    </p>
                    <p>
                        <button class="btn btn-primary" onclick="location.href='{% url 'signup'%}'">アカウントを作成する</button>
                        <button type="button" class="btn btn-success" onclick="location.href='{% url 'login'%}'">ログインする</button>
                    </p>
                </div>
            </div>
            <h1>Restfulでプログラム操作</h1>
                        <div class="row">
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" align="center" src="https://www.youtube.com/embed/CLU1NJ4p8jQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <p>
                        左にrestfulで動作しているプログラムの動画を入れる。
                    </p>
                    <p>
                        迷路をRestfulを使って、ラズパイマウスを自動実行できます。マイクロマウスのシミュレーションができます。
                        詳細はこちら。
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2 bg-light">
        </div>
    </div>


{% endblock %}