{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
h1 {
  font-size:30px;
  padding: .5em .75em;
  margin-top:40px;
  background-color: #f6f6f6;
  border-radius: 6px;
}
</style>
    <div class="row">
        <div class="col-md-2 bg-light">
        </div>
        <div class="col-md-8">
            <img src="{% static 'top.jpg' %}" class="img-fluid">
            <h1>マイクロマウスシミュレーター</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
　　　　　　　　　　　　    <iframe class="embed-responsive-item" align="center"  src="https://www.youtube.com/embed/o6ySWQQWeLs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <p>
                        マイクロマウスシミュレーターは、未知の迷路を走破してゴールへ到達するロボット競技のシミュレーション環境です。
                        ドット絵ベースの簡単なインターフェースで使いやすさを重視しています。
                        あなたは、ただ、提供されるクライアントAPIを使ってマウスの自律制御プログラムを作成するだけで、マウスのシミュレーションを行えます。
                        現時点ではpython3だけで動作します。
                    </p>
                    <p>
                        <button class="btn btn-primary" onclick="location.href='{% url 'signup'%}'">アカウントを作成する</button>
                        <button type="button" class="btn btn-success" onclick="location.href='{% url 'login'%}'">ログインする</button>
                    </p>
                </div>
            </div>
            <h1>Restfulでプログラム操作</h1>
                        <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'restimg.jpg' %}" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <p>
                        Restfulを使ってマウスを自律制御するプログラムを作成して、迷路をクリアします。
                        Restfulのインターフェースは簡単。pythonで動作するので、必要なライブラリはpipでインストールだけすればOK。
                        <a href="https://www.osumoi-stdio.com/pyarticle/book/22/1">詳細はこちら。</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2 bg-light">
        </div>
    </div>


{% endblock %}