{% extends "base_dashboard.html" %}
{% load static %}
{% block mainpage %}

<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
<script src="{% static 'js/maze.js' %}"></script>


<br>
<div class="row">
    <div class="mx-auto">
        <canvas id="replay" width="480" height="640"></canvas>
    </div>
</div>
<script>
    var maze = null;
    var queue = null;
    var grid_size = null;
    var turn = 0;
    var step = 0;
    var label = null;
    var MAX_TURN = {{max_turn}};
    var MAX_STEP = {{max_step}};
    var turnList = {{turn_list}};

    window.addEventListener("load", init);

    function createLabel(text, width, height, textColor) {
        var label = new createjs.Text(text, "18px sans-serif", textColor);
        label.textAlign = "left";
        label.textBaseline = "top";
        return label;
    }

    function createButton(text, width, height, keyColor) {

        // ボタン要素をグループ化
        var button = new createjs.Container();
        button.name = text; // ボタンに参考までに名称を入れておく(必須ではない)
        button.cursor = "pointer"; // ホバー時にカーソルを変更する

        // 通常時の座布団を作成
        var bgUp = new createjs.Shape();
        bgUp.graphics
                .setStrokeStyle(1.0)
                .beginStroke(keyColor)
                .beginFill("white")
                .drawRoundRect(0.5, 0.5, width - 1.0, height - 1.0, 4);
        button.addChild(bgUp);
        bgUp.visible = true; // 表示する

        // ロールオーバー時の座布団を作成
        var bgOver = new createjs.Shape();
        bgOver.graphics
                .beginFill(keyColor)
                .drawRoundRect(0, 0, width, height, 4);
        bgOver.visible = false; // 非表示にする
        button.addChild(bgOver);

        // ラベルを作成
        var label = new createjs.Text(text, "18px sans-serif", keyColor);
        label.x = width / 2;
        label.y = height / 2;
        label.textAlign = "center";
        label.textBaseline = "middle";
        button.addChild(label);

        // ロールオーバーイベントを登録
        button.addEventListener("mouseover", handleMouseOver);
        button.addEventListener("mouseout", handleMouseOut);
        function handleMouseOver(event) {
            bgUp.visble = false;
            bgOver.visible = true;
            label.color = "white";
        }

        function handleMouseOut(event) {
            bgUp.visble = true;
            bgOver.visible = false;
            label.color = keyColor;
        }
        return button;
    }


    function init() {
        var icon_path = [{"src":"/maze_static/icon/icon_north.png", "id":"0"},
                         {"src":"/maze_static/icon/icon_east.png", "id":"1"},
                         {"src":"/maze_static/icon/icon_south.png", "id":"2"},
                         {"src":"/maze_static/icon/icon_west.png", "id":"3"}];

        queue = new createjs.LoadQueue(true);
        queue.loadManifest(icon_path, true);
        queue.on("complete", handleComplete);


    }


    function handleComplete() {
        console.log("よばれた");
        stage = new createjs.Stage("replay");

        var W = stage.canvas.width;
        var H = stage.canvas.height;

        var text = "ターン: " + turn + "ステップ: " + step;
        label = createLabel(text, 640, 40, "black");
        label.x = 0;
        label.y = 0;
        stage.addChild(label);

        maze = new Maze(stage, 0, 30, 480, 480, queue, {{maze}}, turnList);
        grid_size = maze.getGridSize();

        shape = maze.drawMaze();
        stage.addChild(shape);

        mouse = maze.drawPlayer(0,0);
        stage.addChild(mouse);

        var btn1 = createButton("再生", 150, 40, "#0275d8");
        btn1.x = 0;
        btn1.y = 500;
        stage.addChild(btn1);
        btn1.addEventListener("click", handlePlay);

        var btn2 = createButton("停止", 150, 40, "darkRed");
        btn2.x = 150;
        btn2.y = 500;
        stage.addChild(btn2);
        btn2.addEventListener("click", handleStop);

        var btn3 = createButton("リセット", 150, 40, "green");
        btn3.x = 300;
        btn3.y = 500;
        stage.addChild(btn3);
        btn3.addEventListener("click", handleRest);

        stage.update();

    }

    function handlePlay() {
        console.log("handlePlay");
        createjs.Ticker.addEventListener("tick", handleTick);
    }

    function handleRest() {
        console.log("handleRest");
        step = 0;
        turn = 0;
        try{
            createjs.Ticker.removeEventListener("tick", handleTick);
        }
        catch(e) {
        }

        label.text = "ターン: " + turn + "ステップ: " + step;
        var bmp = maze.drawPlayer(turn,step);
        if(bmp != null) {
            step += 1;
            if(step >= MAX_STEP) {
                step = 0;
                turn += 1;
            }
            if(turn >= MAX_TURN) {
                console.log("終了");
                createjs.Ticker.removeEventListener("tick", handleTick);
            }

            stage.addChild(bmp);
            stage.update();
        }
    }

    function handleStop() {
        console.log("handleStop");
        try{
            createjs.Ticker.removeEventListener("tick", handleTick);
        }
        catch(e) {
        }
    }

    function handleTick(){
        //ここでステップ数表示
        label.text = "ターン: " + turn + "ステップ: " + step;
        try{
            var bmp = maze.drawPlayer(turn,step);
            if(bmp != null) {
                step += 1;
                if(step >= turnList[turn].length) {
                    step = 0;
                    turn += 1;
                }
                if(turn >= turnList.length) {
                    console.log("終了");
                    createjs.Ticker.removeEventListener("tick", handleTick);
                }

                stage.addChild(bmp);
                stage.update();
            }
            else {
                handleStop();
            }
        }
        catch(e) {
            handleStop();
        }
    }


</script>
{% endblock %}
